[Unit]
Description=HTTP/gRPC Single sing-on
After=syslog.target
After=network.target

[Service]
Type=forking
WorkingDirectory=/var/run/mocosso

User=mocosso
Group=mocosso

ExecStart=/usr/local/bin/mocosso

[Install]
WantedBy=multi-user.target
